<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>-.-</title>
<link rel="stylesheet" href="/admin/assign/style/backstage.css">
</head>
<body>
<div class="details">
            <div class="details_operation clearfix">
                <div class="bui_select">
                    <input type="button" value="添&nbsp;&nbsp;加" class="add"  onclick="addAdmin()">
                </div>
                <div class="fr">
                    <div class="text">
                        <span>搜索</span>
                        <input type="text" value="" class="search" id="search" onkeypress="search()">
                    </div>
                </div>            
            </div>
            <!--表格-->
            <table class="table" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th width="15%">编号</th>
                        <th width="25%">管理员名称</th>
                        <th width="30%">管理员邮箱</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                <?php  foreach($data['list'] as $row):?>
                    <tr>
                        <!--这里的id和for里面的c1 需要循环出来-->
                        <td><input type="checkbox" id="c1" class="check"><label for="c1" class="label"><?php echo $row['id'];?></label></td>
                        <td><?php echo $row['username'];?></td>
                        <td><?php echo $row['email'];?></td>
                        <td align="center"><input type="button" value="修改密码" class="btn" onclick="editAdmin(<?php echo $row['id'];?>)"><input type="button" value="删除" class="btn"  onclick="delAdmin(<?php echo $row['id'];?>)"></td>
                    </tr>
                    <?php endforeach;?>
                    <?php if(count($data['list'])<$data['count']):?>
                    <tr>
                        <td colspan="4"><div class="php_page"><?php echo $data['page'];?></div></td>
                    </tr>
                    <?php endif;?>
                </tbody>
            </table>
        </div>
</body>
</html>
<script type="text/javascript" src="/admin/assign/js/function.js"></script>
<script type="text/javascript">

    function submitSuccess(data) {
	    window.alert("操作成功！");
	    window.location.reload();
	}
    function submitLoser(data) {
	    window.alert("操作失败！");
	}
	function addAdmin() {
	    window.location = "/admin/admin/addAdmin/";
	}
	function editAdmin(id){
	    var password = prompt("请输入你要修改的密码", "123456");
	    if (password != null && password != "") {
	        $data = "id=" + id + "&password=" + password;
	        $url = '/admin/admin/editAdmin/';
	        butSubmit($url, $data, 'POST');
	    }
	}
	function delAdmin(id){
			if(window.confirm("您确定要删除吗？删除之后不可以恢复！")){
			    $data = "";
			    $url = '/admin/admin/deleteAdmin/id/' + id;
			    butSubmit($url, $data, 'GET');
			}
	}
	function search() {
	    if (event.keyCode == 13) {
	        var val = document.getElementById("search").value;
	        window.location = "/admin/admin/index/name/" + val;
	    }
	}
</script>