<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>-.-</title>
<link rel="stylesheet" href="/admin/assign/style/backstage.css">
</head>
<body>
    <div class="details">
        <form action="/admin/album/addWater/" method="post" name="waterFrom" enctype="multipart/form-data">
            <input type="hidden" name="id" value="<?php echo $data['id'];?>" />
            <div class="details_operation clearfix">
                <div class="bui_select">
                    <input type="submit" value="添&nbsp;&nbsp;加" class="add">
                </div>
            </div>
            <!--表格-->
            <table class="table" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td rowspan="4" width="200">
                            <div class="waterimg" style="background:url(/admin/assign/thumbnail/220_220/<?php echo $data['path'][0];?>)">
                                <img id="waterimg" style="position:absolute" width="50" src="/admin/assign/img/logo_index.png" />
                            </div>
                        </td>
                        <td>产品名称：<input type="text" name="name" value="<?php echo $data['name']; ?>" disabled/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            选择水印：<input type="file" name="waterimg" />
                        </td>
                    </tr>
                    <tr>
                        <td>水印透明度：<input type="text" name="alpha" placeholder="30" oninput="alphaFunction()" />%</td>
                    </tr>
                    <tr>
                        <td>水印位置：<input type="radio" name="positon" value="1" onclick="postionFunction(1)"/>顶部居左&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="positon" value="2" onclick="postionFunction(2)"/>顶部居右&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="positon" value="3" onclick="postionFunction(3)"/>居中&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="positon" value="4" onclick="postionFunction(4)"/>底部局左&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="positon" value="5" onclick="postionFunction(5)"/>底部居右</td>
                    </tr>
                    <tr>
                        <td colspan="3"><small style="color:#A9A9A9">注意！添加水印后不可恢复！请不要上传大于800像素的图片以免上传失败！</small></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>
<script>
    function postionFunction(vaule) {
        switch (vaule) {
            case 1:
                document.getElementById('waterimg').style.left = '0';
                document.getElementById('waterimg').style.top = '0';
                document.getElementById('waterimg').style.right = '';
                document.getElementById('waterimg').style.bottom = '';
                break;
            case 2:
                document.getElementById('waterimg').style.left = '';
                document.getElementById('waterimg').style.top = '0';
                document.getElementById('waterimg').style.right = '0';
                document.getElementById('waterimg').style.bottom = '';
                break;
            case 3:
                document.getElementById('waterimg').style.left = '';
                document.getElementById('waterimg').style.top = '80px';
                document.getElementById('waterimg').style.right = '75px';
                document.getElementById('waterimg').style.bottom = '';
                break;
            case 4:
                document.getElementById('waterimg').style.left = '0';
                document.getElementById('waterimg').style.top = '';
                document.getElementById('waterimg').style.right = '';
                document.getElementById('waterimg').style.bottom = '0';
                break;
            case 5:
                document.getElementById('waterimg').style.left = '';
                document.getElementById('waterimg').style.top = '';
                document.getElementById('waterimg').style.right = '0';
                document.getElementById('waterimg').style.bottom = '0';
                break;
        }
    }
    function alphaFunction() {
        var vaule = waterFrom.alpha.value;
        document.getElementById('waterimg').style.opacity = vaule / 100;
        document.getElementById("waterimg").style.filter = "alpha(opacity=" + vaule + "%)";
    }
</script>