<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>-.-</title>
    <link rel="stylesheet" href="/admin/assign/style/backstage.css">
    <link rel="stylesheet" href="/admin/assign/js/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
</head>
<body>
    <div id="showDetail" style="display:none;"></div>
    <div class="details">
        <div class="details_operation clearfix">
            <div class="bui_select">
                <input type="button" value="添&nbsp;&nbsp;加" class="add" onclick="addPro()">
            </div>
            <div class="fr">
                <div class="text">
                    <span>商品价格：</span>
                    <div class="bui_select">
                        <select id="" class="select" onchange="change(this.value)">
                            <option>-请选择-</option>
                            <option value="price1 ASC">由低到高</option>
                            <option value="price1 DESC">由高到底</option>
                        </select>
                    </div>
                </div>
                <div class="text">
                    <span>上架时间：</span>
                    <div class="bui_select">
                        <select id="" class="select" onchange="change(this.value)">
                            <option>-请选择-</option>
                            <option value="uptime DESC">最新发布</option>
                            <option value="uptime ASC">历史发布</option>
                        </select>
                    </div>
                </div>
                <div class="text">
                    <span>搜索</span>
                    <input type="text" value="" class="search" id="search" onkeypress="search()">
                </div>
            </div>
        </div>
        <!--表格-->
        <table class="table" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th width="5%">编号</th>
                    <th width="20%">商品名称</th>
                    <th width="50%">商品图片</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($data['list'] as $row):?>
                <tr>
                    <!--这里的id和for里面的c1 需要循环出来-->
                    <td><input type="checkbox" id="<?php echo $row['id'];?>" class="check" value=<?php echo $row['id'];?>><label for="c1" class="label"><?php echo $row['id'];?></label></td>

                    <td><?php echo $row['name']; ?></td>
                    <td>
                        <?php foreach($row['path'] as $v):  ?>
                        <img width="100" height="100" src="/admin/assign/thumbnail/220_220/<?php echo $v;?>" alt="" /> &nbsp;&nbsp;
                        <?php endforeach;?>
                        <form class="pro_file" action="/admin/album/addImg/" method="post" name="pro_file_<?php echo $row['id'];?>" enctype="multipart/form-data">
                            <input id="pro_file" type="file" name="proimg" onchange="addImg('<?php echo $row['id'];?>')" />
                            <input type="hidden" name="id" value="<?php echo $row['id'];?>" />
                            <input id="submit_<?php echo $row['id'];?>" type="submit"/>
                        </form>
                        <img onclick="document.getElementById('pro_file').click();" width="100" height="100" src="/admin/assign/img/addimg.jpg" alt="" />
                    </td>
                    <td align="center">
                        <input type="button" value="删除图片" onclick="deleteImg('<?php echo $row['id'];?>','waterText')" class="btn" />
                        <input type="button" value="添加水印" onclick="addWater('<?php echo $row['id'];?>','waterPic')" class="btn" />
                    </td>
                </tr>
                <?php  endforeach;?>
                <?php if(count($data['list'])<$data['count']):?>
                <tr>
                    <td colspan="7"><div class="php_page"><?php echo $data['page'];?></div></td>
                </tr>
                <?php endif;?>
            </tbody>
        </table>
    </div>
</body>
</html>
<script type="text/javascript" src="/admin/assign/js/function.js"></script>
<script type="text/javascript">
    function submitSuccess(data) {
        window.alert("操作成功！");
        window.location.reload();
    }
    function submitLoser(data) {
        window.alert("操作失败！");
    }
    function addPro() {
        window.location = "/admin/pro/addPro/";
    }
    function addImg(id) {
        document.getElementById("submit_"+id).click();
    }
    function addWater(id) {
        window.location = '/admin/album/addWater/id/' + id;
    }
    function deleteImg(id) {
        var deletes = prompt("请输入你要删除的第几个图片，列如1", "1");
        if (deletes != null && deletes != "") {
            $data = "";
            $url = '/admin/album/deleteImg/id/' + id + '/deletes/' + deletes ;
            butSubmit($url, $data, 'GET');
        }
    }
    function search() {
        if (event.keyCode == 13) {
            var val = document.getElementById("search").value;
            window.location = "/admin/pro/image/name/" + val;
        }
    }
    function change(val) {
        window.location = "/admin/pro/image/order/" + val;
    }
</script>